.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav-link {
   margin: 0 10px;
   font-weight: 600;
   &.is-active {
      text-decoration: underline;
   }
   &.is-disable {
      color: rgba($color-active, 0.5); 
      cursor: default;
   }
}